.about {
  margin-top: var(--margin-section-top);
  position: relative;
}

.jacek {
  display: flex;
  align-items: center;
  @include padding-block;

  @media only screen and (max-width: 750px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media only screen and (max-width: 350px) {
    padding: 0;
  }

  &__img-border {
    width: 24rem;
    height: 24rem;
    margin-left: var(--padding-section);
    border: 4px solid var(--color-image-border);
    border-radius: 5px;
    flex-shrink: 1;
    position: relative;

    @media only screen and (max-width: 750px) {
      margin-bottom: var(--padding-section);
    }

    &:hover,
    &:focus {
      cursor: url(../img/horns.png), auto;
    }

    &:hover .jacek__img-box,
    &:focus .jacek__img-box {
      opacity: 0;
    }
  }

  &__img-box {
    width: 90%;
    height: 90%;
    position: relative;
    @include center-hor-ver;
    background-image: url(../img/jacek.jpg);
    background-size: cover;
    z-index: 2;

    &--smile {
      width: 90%;
      height: 90%;
      position: absolute;
      @include center-hor-ver;
      background-image: url(../img/jacek_yoyo.jpg);
      background-size: cover;
      z-index: 1;
    }
  }

  &__text {
    margin: 0 var(--padding-section);
    flex-shrink: 3;
  }

  &__para {
    font-size: 1.8rem;
    
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__wedd-link {
    color: #999;

    &:hover {
      color: var(--color-main);
      border-bottom: 1px solid var(--color-main);
    }

    &:focus {
      outline: none;
      color: var(--color-main);
      border-bottom: 1px solid var(--color-main);
    }

    &__icon {
      height: 1.6rem;
      margin-left: .3rem;
    }
  }
}


.about {

  &__h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 5rem 0 3rem;
  }
}

.cv {
  width: 100%;
  height: 7rem;
  display: flex;
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  @media only screen and (max-width: 460px) {
    flex-direction: column;
    height: 15rem;
  }

  &__btn {

    &--cv {
      width: 24rem;
      height: 7rem;
      font-family: 'Fjalla One', sans-serif;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto;
      border: 4px solid var(--color-secondary);
      border-radius: 5px;
      color: var(--color-secondary);
      overflow: hidden;
      position: relative;
      transition: all .5s;
      display: block;

      & span {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: var(--color-main);
        -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
        z-index: -1;
      }

      &:hover span {
        width: 100%;
      }

      &:active {
        transform: translateY(5px);
      }

      &:active span {
        width: 100%;
      }
    }

    &--lang {
      width: 20rem;
      height: 6rem;
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 4px solid var(--color-secondary);
      color: var(--color-secondary);
      background-color: (--color-bg-main);
      position: relative;
      z-index: 1;

      @media only screen and (max-width: 460px) {
        width: 24rem;
      }
      
      &:not(:last-of-type) {
        margin-right: 5rem;

        @media only screen and (max-width: 460px) {
          margin-right: 0;
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  &__buttonsLang-box {
    position: relative;
    display: none;
    margin-left: -1000px;
  }
}

.cvMoveRight {
  animation: moveRight 2s 1  ease-out forwards;
}

@keyframes moveRight {
  from {margin-right: 0;}
  to {margin-right: -1000px;}
}

.cvMoveLeft {
  animation: moveLeft .5s 1  ease-out forwards;
}

@keyframes moveLeft {
  from {margin-left: -1000px;}
  to {margin-left: 0;}
}


.skills {

  &__box {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  @media only screen and (max-width: 400px) {
    width: 90%;
  }

  &__btn {
    margin-bottom: 2rem;
    position: relative;
    flex-shrink: 0;
    padding: 0 1rem;

    &__mark {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      top: -1.4rem;
      @include center-hor;
      background-color: var(--color-secondary);
      visibility: hidden;
    }

    &:focus > &__mark {
      visibility: visible;
    }

  }

  &__icon {
    height: 6rem;
    color: var(--color-main);

    &:hover {
      cursor: pointer;
      color: var(--color-secondary);
    }

    &--ps, 
    &--bootstrap {
      height: 6rem;
      margin-left: var(--margin-common);
      margin-left: 0;
      fill: var(--color-main);

      &:hover {
        cursor: pointer;
        fill: var(--color-secondary);
      }
    }
    &--bootstrap {
      height: 7rem;
      margin-left: -.3rem;
      margin-right: -.3rem;
    }

    &--jquery {
      margin-left: -2.2rem;
      margin-right: -2.2rem;
    }
  }

  &__descriptions-box {
    width: fit-content;
    position: relative;
    margin: 2rem auto;
    background-color: var(--color-main);
    border: 4px solid var(--color-secondary);
    border-radius: 5px;
    padding: 2rem 4rem 2.8rem;
    display: none;

    @media only screen and (max-width: 350px) {
      padding: 2rem 2rem 2.8rem;
    }

    &::after {
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-bottom: 2rem solid var(--color-secondary);
      position: absolute;
      top: -2rem;
      @include center-hor;
    }
  }

  &__description {
    text-align: center;
    display: none;

    &__h5 {
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 1.2rem;
      color: var(--color-bg-main);
    }

    &__para {
      font-size: 1.8rem;
      color: var(--color-bg-main);
    }
  }
}