.about {
  max-width: 100%;
  padding: var(--padding-section);
}

.jacek {
  display: flex;
  align-items: center;

  &__img-border {
    width: 24rem;
    height: 24rem;
    border: 4px solid var(--color-image-border);
    border-radius: 2px;
    flex-shrink: 1;
  }

  &__img-box {
    width: 90%;
    height: 90%;
    position: relative;
    @include center-hor-ver;
    background-image: url(../img/jacek.jpg);
    background-size: cover;
  }

  &__text {
    margin-left: 3rem;
    flex-shrink: 3;
  }

  &__para {
    font-size: 1.8rem;
    
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__wedd-link {
    color: #999;

    &:hover {
      color: var(--color-blue-main);
    }
  }
}
