.about {
  margin-top: var(--margin-section-top);
  position: relative;
}

.jacek {
  display: flex;
  align-items: center;
  @include padding-block;

  @media only screen and (max-width: 750px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media only screen and (max-width: 350px) {
    padding: 0;
  }

  &__img-border {
    width: 24rem;
    height: 24rem;
    margin-left: var(--padding-section);
    border: 4px solid var(--color-image-border);
    border-radius: 2px;
    flex-shrink: 1;

    @media only screen and (max-width: 750px) {
      margin-bottom: var(--padding-section);
    }

    &:hover,
    &:focus {
      cursor: url(../img/horns.png), auto;
    }

    &:hover .jacek__img-box,
    &:focus .jacek__img-box {
      background-image: url(../img/jacek_yoyo.jpg);
    }
  }

  &__img-box {
    width: 90%;
    height: 90%;
    position: relative;
    @include center-hor-ver;
    background-image: url(../img/jacek.jpg);
    background-size: cover;
    transition: all .3s;
  }

  &__text {
    margin: 0 var(--padding-section);
    flex-shrink: 3;
  }

  &__para {
    font-size: 1.8rem;
    
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__wedd-link {
    color: #999;

    &:hover {
      color: var(--color-main);
      border-bottom: 1px solid var(--color-main);
    }

    &:focus {
      outline: none;
      color: var(--color-main);
      border-bottom: 1px solid var(--color-main);
    }

    &__icon {
      height: 1.6rem;
      margin-left: .3rem;
    }
  }
}

.about {

  &__h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 5rem 0 3rem;
  }
}

.skills {

  &__box {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  @media only screen and (max-width: 400px) {
    width: 90%;
  }

  &__btn {
    margin-bottom: 2rem;
    position: relative;
    flex-shrink: 0;
    padding: 0 1rem;

    &__mark {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      top: -1.4rem;
      @include center-hor;
      background-color: var(--color-secondary);
      visibility: hidden;
    }

    &:focus > &__mark {
      visibility: visible;
    }

  }

  &__icon {
    height: 6rem;
    color: var(--color-main);

    &:hover {
      cursor: pointer;
      color: var(--color-secondary);
    }

    &--ps {
      height: 6rem;
      margin-left: var(--margin-common);
      margin-left: 0;
      fill: var(--color-main);

      &:hover {
        cursor: pointer;
        fill: var(--color-secondary);
      }
    }
  }

  &__descriptions-box {
    width: fit-content;
    position: relative;
    margin: 2rem auto;
    background-color: var(--color-main);
    border: 4px solid var(--color-secondary);
    border-radius: 2px;
    padding: 2rem 4rem 2.8rem;
    display: none;

    @media only screen and (max-width: 350px) {
      padding: 2rem 2rem 2.8rem;
    }

    &::after {
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-bottom: 2rem solid var(--color-secondary);
      position: absolute;
      top: -2rem;
      @include center-hor;
    }
  }

  &__description {
    text-align: center;
    display: none;

    &__h5 {
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 1.2rem;
      color: var(--color-bg-main);
    }

    &__para {
      font-size: 1.8rem;
      color: var(--color-bg-main);
    }
  }
}