.navigation {
  width: 100%;
  max-width: var(--width-website);
  position: sticky;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-color: var(--color-secondary);
  z-index: 99;

  &__list {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    vertical-align: middle;

    @media only screen and (max-width: 400px) {
      font-size: 2rem;
    }
  }

  &__part {

    &--home {

    }

    &--sections {
      display: flex;
      text-transform: capitalize;

      & li:not(:last-of-type) h3 {
        margin-right: 1rem;

        @media only screen and (max-width: 400px) {
          margin-right: .4rem;
        }
      }
    }

    &__link {

      &:hover {
        cursor: pointer;
      }

      &:hover > h1 {
        color: var(--color-main);
      }

      &:hover > h3::after {
        @include center-hor;
      }

      &:focus {
        outline: none;
      }

      &:focus > h1,
      &:focus > h3 {
        outline: none;
        color: var(--color-main);
      }

      &:active > h1,
      &:active > h3 {
        color: var(--color-main);
      }
      
      &__h1 {
        padding: var(--padding-nav-item);
        color: var(--color-bg-main);
        transition: all .2s;
      }

      &__h3 {
        padding: var(--padding-nav-item);
        color: var(--color-navigation);
        position: relative;
        overflow: hidden;

        &::after {
          display: block;
          content: "";
          width: calc(100% - (var(--padding-nav-item) * 2));
          height: 2px;
          background-color: var(--color-main);
          position: absolute;
          bottom: var(--padding-nav-item);
          left: -200%;
          transition: all .3s;
        }
      }
    }
  }
}

