.projects {
  margin-top: var(--margin-section-top);
}


.project {

  &__container {
    width: 84%;
    margin: 0 auto 5rem;
    padding: var(--padding-section);
    background-color: var(--color-main);
    color: var(--color-bg-main);
    border-radius: 5px;

    /*
    &:hover > .project__h4 {
      color: var(--color-secondary);
    }
    */
  }

  &__h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 2.4rem;
    color: var(--color-secondary);
    transition: all .2s;
  }

  &__description {
    font-size: 1.8rem;
    text-align: center;
  }

  &__mockup {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0 1.6rem;

    & > div:not(:last-child) {
      margin-right: 3rem;
    }

    &__desktop {
      // 16:9 proportions
      width: 32vw;
      max-width: 32rem;
      height: 18vw;
      max-height: 18rem;
      border: 6px solid var(--color-main--2);
      border-radius: 5px;
      background-size: cover;
      background-position: center;

      &--lhz {
        background-image: url(../img/lhz_d.jpg);
      }
      &--roshambo {
        background-image: url(../img/roshambo_d.jpg);
      }
      &--tunegrips {
        background-image: url(../img/tunegrips_d.jpg);
      }
      &--what {
        background-image: url(../img/what_d.jpg);
      }
      &--weinstall {
        background-image: url(../img/weinstall_d.jpg);
      }
      &--yoga {
        background-image: url(../img/yoga_d.jpg);
      }
      &--chef {
        background-image: url(../img/chef_d.jpg);
      }
    }

    &__mobile {
      // 3:4 proportions
      width: 13.5vw;
      max-width: 13.5rem;
      height: 18vw;
      max-height: 18rem;
      border: 6px solid var(--color-main--2);
      border-radius: 5px;
      background-size: cover;
      background-position: center;

      &--lhz {
        background-image: url(../img/lhz_m.jpg);
      }
      &--roshambo {
        background-image: url(../img/roshambo_m.jpg);
      }
      &--tunegrips {
        background-image: url(../img/tunegrips_m.jpg);
      }
      &--what {
        background-image: url(../img/what_m.jpg);
      }
      &--weinstall {
        background-image: url(../img/weinstall_m.jpg);
      }
      &--yoga {
        background-image: url(../img/yoga_m.jpg);
      }
      &--chef {
        background-image: url(../img/chef_m.jpg);
      }
    }
  }

  &__links {
    display: flex;
    justify-content: center;

    &__link {
      $padding-hor: 1.2rem;
      font-family: 'Fjalla One', sans-serif;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: .8rem $padding-hor;
      transition: all .2s;

      &:not(:last-of-type) {
        margin-right: 2.4rem;
      }

      &::after {
        display: block;
        content: "";
        height: 1px;
        width: calc(100% - ($padding-hor));
        background-color: var(--color-bg-main);
      }

      &:hover {
        cursor: pointer;
        color: var(--color-secondary);
      }

      &:focus {
        outline: none;
        color: var(--color-secondary);
      }

      &:hover::after,
      &:focus::after {
        background-color: var(--color-secondary);
      }
    }
  }

  &__tags {
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;

    &__tag {
      font-size: 1.4rem;

      &:not(:last-of-type) {
        margin-right: 1.2rem;
      }
    }
  }
}