* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {

}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  line-height: 1.8;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--color-bg-main);
}