:root {
  --width-website: 1100px;

  --color-bg-main: #ffffff;
  --color-main-porzucony: #4385f0;
  --color-main: #298C8C;
  --color-main--lighter: #4CAAAA;
  --color-main--darker: #117373;
  --color-main--darkest: #196363;
  --color-secondary: #EF7564;
  --color-secondary--lighter: #F17F6E;
  --color-tertiary: #F0CB80;

  --color-text: #555;
  --color-h2-header: #c2c2c2;
  --color-h2-section: #ccc;
  --color-navigation: #fff;
  --color-image-border: #eee;

  --margin-common: 3rem;
  --margin-section-top: 8rem;
  --padding-nav-item: 1rem;
  --padding-section: 3rem;
}

.colorSecondary {
  color: var(--color-secondary) !important;
  fill: var(--color-secondary) !important;
}

.colorMain {
  color: var(--color-main--darkest) !important;
}
