:root {
  --width-website: 1024px;

  --color-bg-main: #ffffff;
  --color-main-porzucony: #4385f0;
  --color-main: #4D9090;
  --color-main--2: hsl(180, 70%, 26%);
  --color-secondary: #f08080;

  --color-text: #555;
  --color-h2-header: #c2c2c2;
  --color-h2-section: #ccc;
  --color-navigation: #fff;
  --color-image-border: #eee;

  --margin-common: 3rem;
  --padding-nav-item: 1rem;
  --padding-section: 3rem;
}