:root {
  --width-website: 1100px;

  --color-bg-main: #fff;
  --color-main-porzucony: #4385f0;
  --color-main: #298c8c;
  --color-main--lighter: #4caaaa;
  --color-main--darker: #117373;
  --color-main--darkest: #196363;
  --color-secondary: #ef7564;
  --color-secondary--lighter: #f17f6e;
  --color-tertiary: #f0cb80;

  --color-text: #555;
  --color-text-projects: #fff;
  --color-h2-header: #c2c2c2;
  --color-h2-section: #ccc;
  --color-navigation: #fff;
  --color-image-border: #eee;

  --margin-common: 3.2rem;
  --margin-section-top: 8rem;
  --padding-nav-item: 1rem;
  --padding-section: 3.2rem;
}

.colorSecondary {
  color: var(--color-secondary) !important;
  fill: var(--color-secondary) !important;
}

.colorMain {
  color: var(--color-main--darkest) !important;
}
